.navbar-dark .navbar-nav .nav-link {
    color: #fafbfe;
}

#fred-logo {
    font-family: 'Pacifico', cursive;
}

#full_width_container {
    max-width: 100%;
    max-width: 100%;
    color: #184153;
    background: #6c757d;
    min-height: 40vh;
}

.wrapper, .content-page {
    min-height: 100%;
    overflow: unset;
}

.note {
    text-align: center;
    height: unset;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

.form-content {
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}

.btnSubmit {
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
